; vim: set fileencoding=utf-8 :
; author: Manuel Guenther <manuel.guenther@idiap.ch>
; modified by Elie Khoury <elie.khoury@idiap.ch>
; date:   Thu July 25 14:46:29 CET 2013

[buildout]
parts = scripts
develop = .
eggs = xbob.db.verification.filelist
newest = false

[scripts]
recipe = xbob.buildout:scripts
dependent-scripts = true
